package ${package}.${moduleName}.entity;


import java.io.Serializable;

import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import me.jiahao.base.BaseEntity;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@JsonInclude(JsonInclude.Include.NON_EMPTY) // json数据中为空不返回
public class ${className}Entity extends BaseEntity implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)

	#if($column.attrname != 'createTime' && $column.attrname != 'updateTime' &&
		$column.attrname != 'createBy' && $column.attrname != 'updateBy')
		/**
		 * $column.comments
		 */
		#if($column.attrname == 'id')
			private Long $column.attrname;
		#else
			private $column.attrType $column.attrname;
		#end

	#end
#end

}
