package ${package}.${moduleName}.entity.bo;

import com.alibaba.excel.annotation.ExcelProperty;
import lombok.Data;
import java.io.Serializable;

/**
 * @author : panjiahao
 * @date : 15:14 2020/12/7
 */
@Data
public class ${className}BO implements Serializable {

	#foreach ($column in $columns)
		#if($column.attrname != 'createTime' && $column.attrname != 'updateTime' &&
			$column.attrname != 'createBy' && $column.attrname != 'updateBy')
			@ExcelProperty("$column.comments")
			#if($column.attrname == 'id')
				private Long $column.attrname;
			#else
				private $column.attrType $column.attrname;
			#end
		#end
	#end

}
