<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

    <select id="listForPage" resultType="${package}.${moduleName}.entity.${className}Entity">
        select
            #foreach($column in $columns)
                ${column.columnName}#if($foreach.hasNext),#end

            #end
        from ${tableName}
        <where>
            #foreach($column in $columns)
                <if test="${column.attrname} != null and ${column.attrname} != ''">
                    and ${column.columnName} like concat('%',#{${column.attrname}},'%')
                </if>
            #end
        </where>
    </select>
    <insert id="save" >
        insert into ${tableName}
        (
            #foreach($column in $columns)
                ${column.columnName}
                 #if($foreach.hasNext), #end
            #end
        )
        values
        (
            #foreach($column in $columns)
                #{${column.attrname},
                #if (${column.dataType} == 'int')
                jdbcType=NUMERIC
                #elseif (${column.dataType} == 'varchar')
                jdbcType=VARCHAR
                #elseif (${column.dataType} == 'datetime')
                jdbcType=TIMESTAMP
                #else
                jdbcType=${column.dataType}
                #end
                }
                #if($foreach.hasNext),#end
            #end
        )
    </insert>
    <update id="update">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if( ${column.columnName} != "id" )
                    <if test="${column.attrname} != null and ${column.attrname} != ''">
                            ${column.columnName} = #{${column.attrname},jdbcType=
                            #if (${column.dataType} == 'int')
                            jdbcType=NUMERIC
                            #elseif (${column.dataType} == 'varchar')
                            jdbcType=VARCHAR
                            #elseif (${column.dataType} == 'datetime')
                            jdbcType=TIMESTAMP
                            #else
                            jdbcType=${column.dataType}
                            #end
                            }#if($foreach.hasNext),#end
                    </if>
                #end
            #end
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="batchRemove">
        delete from ${tableName} where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>