package ${package}.${moduleName}.dao;

import ${package}.base.BaseMapper;
import ${package}.${moduleName}.entity.${className}Entity;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
	
}
