<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${moduleName}.entity.${className}Entity" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>
    <select id="listForPage" resultType="${package}.${moduleName}.entity.${className}Entity">
        select
            #foreach($column in $columns)
                ${column.columnName}#if($foreach.hasNext),#end

            #end
        from ${tableName}
    </select>
    <insert id="save" >
        insert into ${tableName}
        (
            #foreach($column in $columns)
                ${column.columnName}#if($foreach.hasNext),#end
            #end
        )
        values
        (
            #foreach($column in $columns)
                #{${column.attrname},jdbcType=${column.dataType}}#if($foreach.hasNext),#end
            #end
        )
    </insert>
    <update id="update">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if( ${column.columnName} != "id" )
                    <if test="${column.attrname} != null and ${column.attrname} != ''">
                            ${column.columnName} = #{${column.attrname},jdbcType=${column.dataType}}#if($foreach.hasNext),#end
                    </if>
                #end
            #end
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="remove">
        delete from ${tableName} where id = #{id}
    </delete>


</mapper>