package ${package}.${moduleName}.service;

import me.jiahao.exception.R;
import com.github.pagehelper.PageInfo;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.entity.bo.${className}BO;

import java.util.List;
import java.util.Map;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    PageInfo<${className}Entity> listForPage(Map<String,Object> params);

    R save (${className}Entity ${classname}Entity);

    R update(${className}Entity ${classname}Entity);

    R remove(Long[] id);

    List<${className}BO> find${className}(Map<String,Object> params);
}



