<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jiahao.modules.system.mapper.RoleMapper">

    <select id="listForPage" resultType="me.jiahao.modules.system.entity.RoleEntity">
        select
            id,
            role_name,
            role_desc,
            role_code,
            sort,
            status,
            create_time,
            create_by,
            update_time,
            update_by
        from sys_role
        <where>
            <if test="roleName != null">
                and role_name like concat('%',#{roleName},'%')
            </if>
            <if test="roleCode != null">
                and role_code like concat('%',#{roleCode},'%')
            </if>
            <if test="roleDesc != null">
                and role_desc like concat('%',#{roleDesc},'%')
            </if>
        </where>
    </select>

    <select id="list" resultType="me.jiahao.modules.system.entity.RoleEntity">
        select
            id,
            role_name,
            role_desc,
            role_code,
            sort,
            status,
            create_time,
            create_by,
            update_time,
            update_by
        from sys_role
    </select>

    <insert id="save" >
        insert into sys_role(role_name,role_code,role_desc,sort,create_time,create_by)
        values (
            #{roleName,jdbcType=VARCHAR},
            #{roleCode,jdbcType=VARCHAR},
            #{roleDesc,jdbcType=VARCHAR},
            #{sort,jdbcType=NUMERIC},
            #{createTime,jdbcType=TIMESTAMP},
            #{createBy,jdbcType=VARCHAR}
        )

    </insert>

    <update id="update">
        update sys_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=NUMERIC},
            </if>
            <if test="roleDesc != null">
                role_desc = #{roleDesc,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="batchRemove">
        delete from sys_role where id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>